<!DOCTYPE html>
<html>
<head>
  <title>The Game</title>
</head>
<body>
    Thanks for coming to play with me! Please fill out the form below.<br><br>
    
    <form action = "/madlib">
        <label>Choose a person:
            <input type="text" name="person">
        </label><br>
        <label>Select a color:
            <input type="radio" name="color" value="red">red
            <input type="radio" name="color" value="yellow">yellow
            <input type="radio" name="color" value="green">green
            <input type="radio" name="color" value="blue">blue
        </label><br>
        <label>Choose a noun:
            <input type="radio" name="noun" value="dog">dog
            <input type="radio" name="noun" value="cat">cat
            <input type="radio" name="noun" value="balloonicorn">balloonicorn
        </label><br>
        <label>Choose an adjective:
            <select name="adj">
                <option value="brilliant">brilliant</option>
                <option value="hilarious">hilarious</option>
                <option value="witty">witty</option>
            </select>
        </label><br>
        <label>Choose a food:
            <select name="food">
                <option value="sandwich">sandwich</option>
                <option value="snack">snack</option>
                <option value="treat">treat</option>
            </select>
        </label><br>
        <label>Choose an activity:
            <input type="checkbox" name="activity" value="frolick">frolick
            <input type="checkbox" name="activity" value="jump">jump
            <input type="checkbox" name="activity" value="dance">dance
        </label><br>
        <label>
            <input type="submit">
        </label>
    </form>
</body>
</html>